[{:itonami.blueprint/social-impact [:fair-employment :worker-privacy :sme-hr-access], :itonami.blueprint/domain :business/hr-management, :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :telemetry], :itonami.blueprint/isco-08 "1212", :itonami.blueprint/name "Independent HR Management Practice", :itonami.blueprint/governor :hr-management-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-1212", :itonami.blueprint/license "AGPL-3.0-or-later"}]